/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  background-image: url("../../img/html1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}

/* line 16, ../sass/screen.scss */
header img {
  width: 200px;
}

/* line 20, ../sass/screen.scss */
.site-content {
  background-color: #F7F7F7;
}

/* line 23, ../sass/screen.scss */
article {
  text-align: center;
  line-height: 50px;
}

/* line 27, ../sass/screen.scss */
#map {
  width: 90%;
  height: 100%;
}

/* line 31, ../sass/screen.scss */
#firstSlide::after {
  content: "super";
}

/* line 34, ../sass/screen.scss */
footer {
  color: white;
  background-color: #333333;
  border-top: 5px solid #DC6263;
}
/* line 38, ../sass/screen.scss */
footer img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
/* line 43, ../sass/screen.scss */
footer .border {
  border-left: 2px solid #DC6263;
}
