/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
$border-footer: #DC6263;
$red: #DC6263;
body{
  background-image: url("../../img/html1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}
header{
  img{
    width: 200px;
  }
}
.site-content{

  h1{
    text-align: center;
    color: $red;
  }
  background-color: #F7F7F7;
  .carousel{
    width:1500px;
    margin: 0 auto !important;
  }
}
.contact{
  text-align: center;
  line-height: 50px;
}
.row{
  padding-top:30px;
}
.white{
  padding-top: 20px;
  color: #cccccc;
}
.red{
  color: $red;
}
#map{
  width: 90%;
  height: 100%;
}
footer{
  color: white;
  background-color: #333333;
  border-top: 5px solid $border-footer;
  img{
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  .border{
    border-left: 2px solid $border-footer;
  }
}


